einops==0.3.0
torch==1.7.1
pybullet==3.1.7
seaborn==0.11.1
tensorflow==2.4.1
scipy==1.6.2
matplotlib==3.4.2
gym.egg==info
ray==1.4.1
tensorboard==2.5.0
numpy==1.20.2
accelerate==0.4.0
gym==0.20.0
ipython==7.27.0
stable_baselines==2.10.2
tensorboardX==2.4
